{% extends 'admin/headerfooter.html' %}
{% block content %}

	

	  <style type="text/css">
		#customers {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 80%;
		  margin-left: auto;
    	  margin-right: auto;
    	  margin-bottom: 100px;
    	  margin-top: 	auto;
    	  border: 10px;
		}

		#customers td, #customers th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#customers tr:nth-child(even){background-color: #f2f2f2;color: black;}

		#customers tr:nth-child(odd){background-color: #ddd;color: black;}

		#customers th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #4CAF50;
		  color: white;
		}

	</style>
	<div class="candidate_cv">
	<div class="services" id="services">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle"><center>Users List</center></h3><br><br>
			</div>
			<div class="inner_sec_grids_info_w3ls">
					<table id="customers" cellpadding="0" cellspacing="0" border="10">
		<thead>		
		<tr>
			<th>Sl no</th>
		<th> Name</th>
		<th> Email</th>
		<th> Phone</th>
		<th>Address</th>
		<th>Place</th>
		

		<!-- <th colspan="2"> action</th> -->


	<!-- 	<th colspan="2">status:</th> -->

	</tr>
                </thead>
                <tbody>
{% for x in db %}

	<tr>
		<td>{{forloop.counter}}</td>

		<td>{{x.User_Name}}</td>
		<td>{{x.User_Email}}</td>
		<td>{{x.User_Phone}}</td>
		<td>{{x.User_Address}}</td>
		<td>{{x.User_District}}</td>	
	</tr>

		{% endfor %}
         </tbody>
	

	</table>
		
				</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div></div>
 {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}
{% endblock %}